# Section 2. Packages and DataFrames - Practice

#### Instructor: Pierre Biscaye

## Challenge 1: Locating the Right Library

You want to select a random value from your data:

In [ ]:
 ids = [1, 2, 3, 4, 5, 6]

1. What [standard library][stdlib]    would you most expect to help?
2. Which function would you select from that library? Are there alternatives?

[pypi]: https://pypi.python.org/pypi/
[stdlib]: https://docs.python.org/3/library/

In [ ]:
# code here

You want to create a list of 10 random numbers between 0 and 1. What library and function would you use?

In [ ]:
# Code here

## Challenge 2: Exploring the Math Library

 1. What function from the `math` library can you use to calculate a square root
    *without* using `sqrt`? *Hint* Make sure to import math before calling help.
 2. Since the library contains this function, why does `sqrt` exist? Compare the speed of the two functions using the magic function `timeit`, as in `%timeit math.sqrt(value)`.

In [ ]:
# Code here

In [ ]:
%timeit math.sqrt(4)

In [ ]:
%timeit ...

## Challenge 3: Read in a list from text

The file `counties.txt` has a column of counties in California. Read in the data into a list called `counties`.

In [ ]:
# code here

## Challenge 4: Putting Methods in Order

In the following code we want to to find the top-3 most frequently occurring continents in our data. First, load the gapminder data. Don't forget to import pandas first!

In [ ]:
# Code here

 Then, put the following code fragments in the right order in a single line of code to get this information!

In [ ]:
.head(3)
.value_counts()
df['continent']

## Challenge 5: Subsetting Data Frames

Besides `==` we can use [other operators](https://www.w3schools.com/python/gloss_python_comparison_operators.asp) to compare values. For instance:
- `<` less than
- `>` greater than

Fill in the code below to subset the gapminder data frame to include only people with a life expectancy (`lifeExp`) less than 50. Then, use the `.shape` attribute to determine how many observations meet this criterion.

In [ ]:
# Code here
df[df[...] < ...]

## Challenge 6: Subsetting and Calculating the Mean

Let's make use of subsetting to do some calculation! Calculate the **median life expectancy** for a continent of your choice in the gapminder dataset. 

This means you will have to:
1. Subset the `continent` column using a Boolean mask.
2. Take the `lifeExp` column from that subset.
3. Apply a Pandas method to get the median from that column.

You might not know how to get the median of a column â€“ yet! If that's the case, **use your search engine**.

1. Enter the name of the computer language or package, and your question (for instance: "python Pandas calculate median").
2. Read and compare the results you find.
3. Try 'em out!

In [ ]:
# Code here

## Challenge 7: Subset & Sort

Create a new DataFrame containing only observations from the year 2007 for the continent of Americas. Sort the result by life expectancy in descending order (highest to lowest).

In [ ]:
# code here

## Challenge 8: Column Engineering

The dataset provides gdpPercap and pop. Calculate the total GDP for every observation and add it as a new column named totalGDP.

In [ ]:
# code here

## Challenge 9: Observation Search

Find the country in Africa that had the highest total population in the most recent year available in the dataset. Your code should be dynamic (i.e., it should find the max year automatically rather than you typing 2007).

In [ ]:
# code here

## Challenge 10: The Grouped Summary (Groupby)

Calculate the average life expectancy for each continent in the year 2007. Sort the results so that the continent with the highest average life expectancy is at the top. Show the results.

In [ ]:
# code here

## Challenge 11: Working with joins

Create a subset DataFrame containing only the data from 1952. Rename the lifeExp column to lifeExp_1952. Merge (join) this 1952 data back onto the original DataFrame.

Calculate a new column called lifeExp_gain which is the difference between the current year's life expectancy and the 1952 baseline. Identify the observation with the highest gain, and show the country name and year.

In [ ]:
# code here

Next, create a dataframe of the average GDP per capita per continent for each year. Join this back to the main DataFrame.

Create a boolean (True/False) column called above_average_continent that is True if the country's gdpPercap is higher than its continent's average for that specific year. What share of countries are above their continent's average, across the full dataset?

In [ ]:
# code here

## Challenge 12: The "Broken" Code (Debugging)

The following code is intended to find and show the total population of Asia for each year, but it contains three errors. Identify and fix them.

In [ ]:
# Fix the below code
asia_data = df[df['continent'] = 'Asia']
annual_pop = asia_data.groupby('year')'pop'.sum()
print annual_pop