# Section 1. Basics of Python - Practice

#### Instructor: Pierre Biscaye

The content of this notebook draws on material from UC Berkeley's D-Lab Python Fundamentals [course](https://github.com/dlab-berkeley/Python-Fundamentals).

## Challenge 1: Making and Printing Variables

1. Add a code cell below this.
2. Make 3 variables: `name` (with your full name), `city` (where you were born) and `year` (when you were born).
3. Print these three variables so that it prints `[your name] was born in [city] in [year]`

## Challenge 2: Predicting Values

What is the final value of `position` in the program below?

(Try to predict the value without running the program, then check your prediction.)

In [ ]:
initial = "left"
position = initial
initial = "right"
position= "left"
position = initial
print(position)

## Challenge 3: Syntax

Why does the following code fail? What is it probably supposed to do, and what is it actually doing?

In [ ]:
year==3000

note about variable types:

- float=decimals
- integer=whole numbers
- string=text/character
- logical=true/false

In [ ]:
# why does this line fail?
3000=year

In [ ]:
# Fix the above cells and print the year after setting it to 3000

## Challenge 4: Making and Casting Variables

1. Make a variable `year` and assign it as the year you were born
2. Cast that variable to a float, and assign it to a new variable `year_float`
3. Cast `year_float` to a string, and assign it to a new variable `year_string`
4. Someone in your class says they were born in 1997. Find out what your age difference is, using only `year_string`.

Some of the steps in this challenge might seem redundant or unnecessary, and they are. The idea is just to give you practice with coercing variables, even if it's unlikely you'll ever need to do it so many times in a row.

In [ ]:
# code here

## Challenge 5: Arithmetic with Different Types

In [ ]:
first = 1.0
second = "1"
third = "1.1"

Which of the following will print 2.0?

Note: there may be more than one right answer.

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

In [ ]:
# think this through, then write code here to check your answer

Change the code below to make first==second True by casting the variable(s).

In [ ]:
first==second

## Challenge 6: Fix or interpret the following errors

In [ ]:
x=0
print x

In [ ]:
x = 0
print( 10/x )

In [ ]:
x = 5
 print( 10/x )

Read the traceback below, and identify the following pieces of information about it:

1.  How many levels does the traceback have? 
2.  What is the file name where the error occurred? 
3.  What is the function name where the error occurred? 
4.  On which line number in this function did the error occurr? 
5.  What is the type of error? 
6.  What is the error message?

In [ ]:
import errors_02
errors_02.print_friday_message()

## Challenge 7: Indexing

Index the following list to get rid of the values `1`, `3`, and `5`. There are different ways to do this!

In [ ]:
numbers = [1, 3, 5, 7, 10, 13]

# YOUR CODE HERE

## Challenge 8: Slicing

If `thing` is a list and `low` and `high` are both non-negative integers like this:

In [ ]:
thing = [1,3,8,20,6, 'elephant', 'banana', 200, 2, 'list comprehension']
low = 2
high = 8

1. What does `thing[low:high]` do?
2. What does `thing[low:]` (without a value after the colon) do?
3. What does `thing[:high]` (without a value before the colon) do?
4. What does `thing[:]` (just a colon) do?
5. How long is the list `thing[low:high]`, expressed in terms of `low` and `high`?

In [ ]:
# Code here

In [ ]:
city = 'Clermont-Ferrand'
print(city[::2])
print(city[::-1])
print(city[2:10:3])

*Strides* tell the slice how to select values within the given range.
using "[::2]" shows every 2nd entry starting from the first
using "[::-1]" shows the whole list in reverse order
using "[2:10:3]" shows every 3rd entry from the 3rd to the 10th in the index

If we write thing[low:high:stride], where stride is an integer, what does stride do?

In [ ]:
#code here